// цвета для water
$bg-color-blue: blue;
$bg-color-aqua: aqua;
// цвета для drop 
$drop-color-darkBlue: rgb(64, 114, 223);
$drop-color-lightBlue: rgb(123, 229, 255);
// цвет для input 
$input-color: rgb(173, 173, 241);
// цвет для btn
$btn-color-whitesmoke: whitesmoke;
$btn-color-pink: pink;
$btn-color-black: black;
// цвет для text 
$text-color: black;