.beach {
    width: 1000px;
    height: 50px;
    background: linear-gradient($bg-color-blue, rgb(226, 164, 92));
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond-to('middle') {
        max-width: 100%;
    }
    @include respond-to('mobile') {
        max-width: 100%;
    }

    &-container {
        width: 100px;
        height: 35px;
        display: flex;
        justify-content: space-around;
    }

    &-imgFullScreen, &-sound{
        cursor: pointer;
        width: 35px;
        height: 35px;
        &:active {
            transform: scale(0.9);
        }
    }
}

.audio {
    display: none;
}