.drop {
    position: absolute;
    top: 0%;
    left: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right, $drop-color-darkBlue, $drop-color-lightBlue);
    border-radius: 50%;
    transform: translateY(350px);
    animation: dropAnimation 12s linear;
    color: $text-color;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(350px);
  }
}