.drop {
    position: absolute;
    top: 0%;
    left: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right, $drop-color-darkBlue, $drop-color-lightBlue);
    border-radius: 50%;
    transform: translateY(350px);
    animation: dropAnimation 12s linear;
    // box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);
    // animation: drop 8s ease-in infinite;
    color: $text-color;
    font-size: 1.3rem;
    // animation-fill-mode: forwards;
    display: flex;
    justify-content: space-around;
    // flex-direction: column;
    align-items: center;
}

@keyframes dropAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(350px);
  }
}
  