.drop {
    position: absolute;
    top: 0%;
    left: 0;
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom right, $drop-color-darkBlue, $drop-color-lightBlue);
    border-radius: 0 30px 30px 30px;
    transform: rotate(45deg) skewY(0deg);
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.2);
    animation: drop 8s ease-in infinite;
    color: $text-color;
    font-size: 1.3rem;
    // animation-fill-mode: forwards;
    display: flex;
    justify-content: space-around;
    // flex-direction: column;
    align-items: center;
}
  
// .drop:before {
//     content: '';
//     display: block;
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 55%;
//     width: 35%;
//     border-radius: 100%;
//     transform: rotate(-35deg);
//     background: linear-gradient(to bottom right, $drop-color-darkBlue, $drop-color-lightBlue);
//     filter: blur(5px);
// }
  
@-webkit-keyframes drop {
    0% {
      top: 0;
      border-radius: 50px;
      transform: rotate(45deg) skewY(0deg);
    }
    50% {
      top: 10px;
      border-radius: 5px 25px 25px 25px;
    }
    90% {
      top: 350px;
      border-radius: 5px 25px 25px 25px;
      transform: rotate(40deg) skewY(10deg);
    }
    99% {
      top: calc(340px - 5px);
      border-radius: 10px 25px 25px 25px;
      transform: rotate(0deg) skewY(0deg) scale(0.1);
    }
    100% {
      top: calc(340px - 5px);
      border-radius: 10px 25px 25px 25px;
      transform: rotate(0deg) skewY(0deg) scale(3, 0.3);
    }

    //   @include respond-to('middle') {
    //     @-webkit-keyframes drop {
    //     0% {
    //       top: 0;
    //       border-radius: 50px;
    //       transform: rotate(45deg) skewY(0deg);
    //     }
    //     50% {
    //       top: 10px;
    //       border-radius: 5px 25px 25px 25px;
    //     }
    //     90% {
    //       top: 250px;
    //       border-radius: 5px 25px 25px 25px;
    //       transform: rotate(40deg) skewY(10deg);
    //     }
    //     99% {
    //       top: calc(250px - 5px);
    //       border-radius: 10px 25px 25px 25px;
    //       transform: rotate(0deg) skewY(0deg) scale(0.1);
    //     }
    //     100% {
    //       top: calc(250px - 5px);
    //       border-radius: 10px 25px 25px 25px;
    //       transform: rotate(0deg) skewY(0deg) scale(3, 0.3);
    //     }
        
    //   }
    //   @include respond-to('mobile') {
    //     @-webkit-keyframes drop {
    //       0% {
    //       top: 0;
    //       border-radius: 50px;
    //       transform: rotate(45deg) skewY(0deg);
    //     }
    //     50% {
    //       top: 10px;
    //       border-radius: 5px 25px 25px 25px;
    //     }
    //     90% {
    //       top: 150px;
    //       border-radius: 5px 25px 25px 25px;
    //       transform: rotate(40deg) skewY(10deg);
    //     }
    //     99% {
    //       top: calc(150px - 5px);
    //       border-radius: 10px 25px 25px 25px;
    //       transform: rotate(0deg) skewY(0deg) scale(0.1);
    //     }
    //     100% {
    //       top: calc(150px - 5px);
    //       border-radius: 10px 25px 25px 25px;
    //       transform: rotate(0deg) skewY(0deg) scale(3, 0.3);
    //     }
    //   }
    // }
  // }
}