.game__content {
    &-score {
        width: 150px;
        height: 30px;
        color: $text-color;
        background-color: $btn-color-whitesmoke;
        border: 1px solid $bg-color-blue;
        border-radius: 10px;
        font-size: $text-large;
        text-align: center;
        overflow: hidden;
    }
}