.container {
  // position: absolute;
    height: 100vh;
    // margin-bottom: 50px;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;

    &-start {
        width: 500px;
        height: 300px;
        border-radius: 40px;
        background: linear-gradient(to bottom right, $bg-color-blue, $btn-color-pink);
        box-shadow: 0px 0px 10px 7px $drop-color-lightBlue;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        @include respond-to('middle') {
            width: 380px;
            max-width: 768px;
            height: 200px;
            
        }
        @include respond-to('mobile') {
            width: 250px;
            max-width: 450px;
            height: 150px;
        }
    }

    &-btnStart {
        width: 250px;
        height: 100px;
        border-radius: 30px;
        background: linear-gradient(to bottom right,$btn-color-pink, $bg-color-blue);
        border: 1px solid $drop-color-lightBlue;
        box-shadow: 0px 0px 20px 2px $drop-color-lightBlue;
        font-size: 4rem;
        color: black;
        &:active {
            transform: scale(0.9);
        }
        &:hover {
            cursor: pointer;
            color: aqua;
        }
        @include respond-to('middle') {
            width: 180px;
            max-width: 768px;
            height: 100px;
            font-size: 3rem;
        }
        @include respond-to('mobile') {
            width: 150px;
            max-width: 450px;
            height: 90px;
            font-size: 2.5rem;
        }
    }

    @include respond-to('middle') {
        max-width: 768px;
        height: 100vh;
        
    }
    @include respond-to('mobile') {
        max-width: 450px;
        height: 100vh;
    }
}


.containerStars {
    body {
        margin: 0;
      }
        position: relative;
        overflow: hidden;
        background: #000 url('https://hsto.org/files/ad0/ac2/e32/ad0ac2e32be44930ac76e212245e2e67.png');
      }
      
      .blink, .blink_2, .blink_3, .blink_4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        background: url('https://hsto.org/files/e77/a7c/af9/e77a7caf9935450fadf788ed0e98e9f1.png');
        -webkit-animation: stars 5s linear infinite;
        animation: stars 5s linear infinite;
      }
      
      .blink_2 {
        background-position: 100px 100px;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }
      
      .blink_3 {
        background-image: url('https://hsto.org/files/72e/5d6/4c5/72e5d64c5b7444aa81987f069417435b.png');
        background-position: 300px 100px;
        -webkit-animation-delay: 3s;
        animation-delay: 3s;
      }
      
      .blink_4 {
        background-image: url('https://hsto.org/files/72e/5d6/4c5/72e5d64c5b7444aa81987f069417435b.png');
        background-position: 0 0;
        -webkit-animation-delay: 5s;
        animation-delay: 5s;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(left, rgba(0, 0, 255, 0.3), rgba(0, 0, 0, 0));
      }
      
      @-webkit-keyframes stars {
        0%, 50%, 100% {opacity: 0;}
        1%, 49% {opacity: 1;}
      }
      
      @keyframes stars {
        0%, 50%, 100% {opacity: 0;}
        5%, 45% {opacity: 1;}
      }